.id {
  min-width: 80px;
  // width: 50vw;
  max-width: 100px;
}

.iso3,
.phone_code,
.currency {
  min-width: 140px;
  max-width: 200px;
}

.name,
.capital {
  min-width: 160px;
  max-width: 200px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.rowCell {
  overflow: hidden;
  text-overflow: "-";
}

.rowCheckbox {
  margin: 2px;
}
