.dropdown {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 38px;
  right: -10px;

  .dropdownItem {
    width: 120px;
    height: 40px;
    padding: 0px 10px;
  }
}
