.rowCell {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 7px;
}

.id {
  min-width: 80px;
  width: 10vw;
  max-width: 100px;
}

.iso,
.currency {
  min-width: 130px;
  width: 14vw;
  max-width: 200px;
}

.name,
.capital,
.phoneCode {
  min-width: 150px;
  width: 17vw;
  max-width: 200px;
}
