.dropdown {
  display: none;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 38px;
  right: -10px;
}

.dropdownActive {
  display: flex;
}

.dropdownItem {
  width: 120px;
  height: 40px;
  padding: 0px 10px;
}
