.headerCell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.separator {
  margin-right: 2px;
}

.cellName {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 700;
}

.cellButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 5px;
  height: 25px;
  position: relative;
  button {
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
  }
  svg {
    opacity: 1;
    margin: 0px 5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
  }
}

// .headerCell:hover svg {
//   opacity: 1;
//   margin: 0px 5px;
//   height: 25px;
//   width: 25px;
//   border-radius: 50%;
// }
