.nav {
  width: inherit;
  height: 100vh;
  ul {
    width: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      text-decoration: none;
      padding: 10px 5px;
      border-bottom: 2px solid rgb(193, 193, 193);
      a {
        color: rgb(193, 193, 193);
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
      }
      a:hover {
        color: white;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}
